@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-950 text-white;
}

/* Leaflet overrides */
.leaflet-container {
  background: #1a1a2e;
}
